/*ну тут общие настройки*/
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #d4d4d4;
    overflow: hidden;
}
/*Текст вверху*/
.top-bar {
    height: 10px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #3e3e3e;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
}

.badge {
    background: #4caf50;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 4px;
    vertical-align: middle;
}

/* кнопки */
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.danger { 
    background-color: #c0392b; 
    color: white; 
}

.danger:hover { 
    background-color: #a93226; 
}

.primary { 
    background-color: #408540; 
    color: white; 
}
.primary:hover {
    background-color:
    #314432; }

.secondary { 
    background-color: #555; 
    color: white; margin-right: 10px; 
}
.secondary:hover { 
    background-color: #666; 
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #252526;
    border-right: 1px solid #3e3e3e;
    padding: 10px;
    overflow-y: auto;
}

.category-title {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #888;
    margin: 15px 0 5px 0;
    font-weight: bold;
}

.block-template {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: grab;
    color: white;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
}

.block-template:active {
    cursor: grabbing;
}

.variable-dec1 { 
    background-color: #e67e22; 
}

.variable-dec2 { 
    background-color: #e7b43c; 
}

.variable-val{
    background-color: #d2ca2f;
}

.math-op { 
    background-color: #3498db; 
    width: 50px;
}

.brackets{
    background-color: #5b23bc;
    width: 50px;
}

.if-block { 
    background-color: #9b59b6;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
}

.block-header {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.block-body {
    background-color: rgba(0,0,0,0.2);
    min-height: 30px;
    margin: 0 5px 5px 15px;
    border-radius: 4px;
    padding: 5px;
    border: 1px dashed rgba(255,255,255,0.3);
}

.mini-input {
    width: 40px;
    border: none;
    border-radius: 2px;
    padding: 2px 4px;
    font-family: monospace;
}

.long-input {
    border: none;
    border-radius: 2px;
    padding: 2px 4px;
    font-family: monospace;
}
.mini-select {
    border-radius: 2px;
    border: none;
}

.workspace {
    flex: 1;
    background-color: #1e1e1e;
    background-size: 20px 20px;
    padding: 20px;
    position: relative;
    overflow: auto;
}
.print-block { background-color: #16a085; 
}
.start-message {
    color: #555;
    text-align: center;
    margin-top: 100px;
    font-size: 1.2rem;
}

/* 3. КОНСОЛЬ */
.console-panel {
    width: 250px;
    background-color: #1a1a1a;
    border-left: 1px solid #3e3e3e;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.output-box {
    flex: 1;
    background: black;
    color: #0f0;
    font-family: 'Courier New', monospace;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.85rem;
    overflow-y: auto;
    border: 1px solid #333;
}

.system-msg {
    color: #888; 
}
.error-msg {
    color: #ff4444;
}